@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0 auto;
}

.cabecalho {
    padding: 27px;
    padding-left: 37px;
    background-color: rgb(255, 217, 0);
    box-shadow: 1px -1px 50px 1px rgb(0, 0, 0);
}

h1 {
    font-size: 20px;
}