@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

:root { 
    --first-color: #001E26;
    --second-color: #005066;
    --third-color: #11576B;
    --fourth-color: #00B4E6;
    --fifth-color: #46C6EA;
    --second-black:  #rgb(0, 16, 20)

    --main-box-shadow: 1px -1px 50px 1px rgb(0, 0, 0);
}

body {
    margin: 0 auto;
    background-image: linear-gradient(to right, var(--first-color) 70%, var(--second-color));
    padding: 0em;
}

section {
    margin: 0 auto;
}

.elements {
    margin: 0 auto;
    max-width: 1920px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-image: linear-gradient(to right, var(--first-color) 70%, var(--second-color));
    justify-content: space-between;
    color: white;
    padding: 0.06em;
    padding-left: 3.56em;
    align-items: center;
}

.rodape {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-image: linear-gradient(to right, var(--first-color) 70%, var(--second-color));
    justify-content: space-between;
    color: white;
    padding: 0.06em;
    padding-left: 3.56em;
    align-items: center;
}

li {
    display: inline-block;
    margin: 1.12em;
    color: white;
    font-weight: 800;
}

.cabecalho h1 {
    font-weight: 980;
}

#titulo a{
    color: white;
    text-decoration: none;
}

.navigation_header {
    padding: 0.06em;
}

.navigation_header a:hover {
    font-size: 1.06em;
    transition: 0.5s linear;
    filter: drop-shadow(0px 0px 0.1px #ffffff);
}

.navigation_footer {
    padding: 0.06em;
}

.navigation_footer a:hover {
    font-size: 1.06em;
    transition: 0.5s linear;
    filter: drop-shadow(0px 0px 0.1px #ffffff);
}

#titulo h1:hover {
    font-size: 1.875em;
    transition: 0.5s;
}

.principal {
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#principal_elements {
    margin: 0 auto;
    padding: 1.87em;
    padding-top: 1.87em;
    padding-left: 4.37em;
    padding-right: 4.37em;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1920px;
}

.principal p {
    font-size: 0.93em;
}

.benefits {
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 1.25em;
    padding-left: 3.75em;
    padding-right: 3.75em;
    background-image: linear-gradient(to right, var(--first-color) 70%, var(--second-color));
}

.benefits h1{
    font-weight: 1000;
    filter: drop-shadow(1px 1px 5px #000000);
}

.benefits p {
    text-align: justify;
    font-size: 0.87em;
}

.benefit {
    padding-top: 2em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin: 1em;
    border-radius: 20px;
}

.benefits img {
    max-height: 7em;
    filter: drop-shadow(10px 10px 4px #000000);
}

#benefits_div {
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1920px;
}

.depoimentos {
    padding-bottom: 3em;
    background-image: linear-gradient(to right, var(--second-color), var(--first-color) 70%);
    padding: 1em;
}

.depoimentos h3 {
    color: white;
    filter: drop-shadow(1px 1px 2px #000000);
    margin-top: 1.5em;
}

.depoimentos p {
    color: white;
    filter: drop-shadow(1px 1px 2px #000000);
}

.depo-linha-1, .depo-linha-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.depo-linha-2 {
    margin-bottom: 2em;
}

#depo1, #depo2, #depo3, #depo4 {
    background-image: linear-gradient(to right, var(--first-color) 70%, var(--second-color));
    max-width: 37em;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 1px #fff);
}

#depo1 img, #depo2 img, #depo3 img, #depo4 img {
    border-radius: 70px;
    border: 2px #001014 solid;
    max-height: 3em;
}

.depo-pessoas {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.depoimento img {
    margin-top: 17px;
    margin-right: 10px;
}

.depoimentos h1 {
    font-weight: 1000;
    text-align: center;
    color: white;
    filter: drop-shadow(1px 1px 3px #000000);
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 32px;
    filter: drop-shadow(1px 1px 5px #000000);
    font-weight: 1000;
    text-align: center;
}

p {
    text-shadow: 1px -1px 50px 1px rgb(0, 0, 0);
    filter: drop-shadow(10px 1px 5px #000000);
    text-align: center;
}

#info-texto {
    max-width: 40em;
}

#info-texto p {
    font-size: 20px;
}

#formulario {
    max-width: 40em;
    max-height: 40em;
    margin-left: 1em;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to right, var(--first-color) 70%, var(--second-color));
    box-shadow: 1px -1px 50px 1px rgb(0, 0, 0);
}

input {
    border-radius: 10px;
    width: 440px;
    margin-bottom: 3px;
    border: none;
    padding: 10px;
    text-align: center;
}

input::placeholder {
    color: black;
}

input:focus {
    border: white;
}

button {
    border-radius: 10px;
    padding: 10px;
    width: 460px;
    margin-bottom: 3px;
    border: none;
    color: white;
    background-color: var(--first-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--second-color);
    text-shadow: 1px -1px 5px 1px rgb(255, 255, 255);
    transition: 0.5s;
}

/*LARGURA: 1280 PIXELS*/
@media screen and (max-width: 1280px) {
    #info-texto p {
        font-size: 21px;
    }

    #formulario {
        max-height: 55vh;
    }
}

/*LARGURA: 1024 PIXELS*/
@media screen and (max-width: 1024px){   
    .principal h2{
        font-size: 29px;
    }

    #formulario h2 {
        margin-top: -0.01px;
    }

    #info-texto p {
        font-size: 15px;
    }

    .benefits p {
        font-size: 12.5px;
    }

    .depoimentos h3 {
        font-size: 14px;
    }

    .depoimentos p {
        font-size: 12.5px;
    }

    .depoimentos img {
        margin-top: 10px;
    }
}

@media screen and (max-width: 881px) {
    .principal h2 {
        font-size: 20px;
    }

    #formulario {
        padding-right: 33px;
    }

    #info-texto p {
        font-size: 11.5px;
    }

    .benefits p {
        text-align: center;
        line-height: 11.5px;
        font-size: 10.5px;
    }

    .navigation_footer li {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .principal h2 {
        font-size: 19px;
    }

    #formulario p {
        font-size: 13px;
    }

    #info-texto p {
        font-size: 14.6px;
    }

    input {
        width: 30vw;
    }

    button {
        width: 33vw;
    }

    .benefits {
        padding-left: 10px;
        padding-right: 10px;
    }

    .benefits p {
        font-size: 11px;
        line-height: 12px;
    }

    .depoimentos {
        padding-top: 20px;
    }

    .depoimentos h1 {
        margin-top: 0.1px;
    }

    .depoimento {
        padding: 1px;
    }

    .depoimento p {
        font-size: 11px;
    }
}

@media screen and (max-width: 481px) {
    .cabecalho {
        flex-direction: column;
        padding-left: 3px;
    }

    .cabecalho h1 {
        margin-bottom: 0px;
    }

    .navigation_header {
        padding: 0px;
        margin: 0px;
    }

    li {
        margin: 0px;
        margin-right: 22px;
    }

    .principal {
        flex-direction: column;
    } 

    .principal p {
        font-size: 20px;
        padding-right: 1px;
    }

}

